In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('wine.data.orig', header=None)  #wine資料
df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547
15,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.30,1.28,2.88,1310
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.20,1.07,2.65,1280
17,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130
18,1,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.70,1.23,2.82,1680
19,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.10,0.96,3.36,845

In [3]:
#data size
df.shape

(178, 14)

In [4]:
le = LabelEncoder() #把每個類別 mapping 到某個整數
df.iloc[:, 13] = le.fit_transform(df.iloc[:, 13])
df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,94
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,92
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,101
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,116
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,66
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,115
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,110
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,111
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,91
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,91
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,117
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,108
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,113
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,100
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,119
15,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.30,1.28,2.88,112
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.20,1.07,2.65,108
17,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.60,1.13,2.57,99
18,1,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.70,1.23,2.82,120
19,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.10,0.96,3.36,76

In [8]:
X = df.iloc[:, 1:13]
Y = df.iloc[:, 0]
X.head()

      1     2     3     4    5     6     7     8     9     10    11    12
0  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

In [9]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: 0, dtype: int64

In [10]:
#分割資料集
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2, random_state=1)
Xtrn = train_set.iloc[:, 1:13]
Ytrn = train_set.iloc[:, 0]
Xtst = test_set.iloc[:, 1:13]
Ytst = test_set.iloc[:, 0]

train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 91 to 37
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       142 non-null    int64
 1   1       142 non-null    float64
 2   2       142 non-null    float64
 3   3       142 non-null    float64
 4   4       142 non-null    float64
 5   5       142 non-null    int64
 6   6       142 non-null    float64
 7   7       142 non-null    float64
 8   8       142 non-null    float64
 9   9       142 non-null    float64
 10  10      142 non-null    float64
 11  11      142 non-null    float64
 12  12      142 non-null    float64
 13  13      142 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 16.6 KB

In [11]:
from sklearn import neighbors                      # import the KNN classifier
clf = neighbors.KNeighborsClassifier(1) 
clf.fit(X, Y) # train classifer with wholedata
clf.score(X, Y) #training accuracy on X

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

In [12]:
clf.score(Xtst, Ytst) #testing accuracy

0.8888888888888888

In [23]:
#classifier 1
from sklearn import neighbors                      # import the KNN classifier
clf = neighbors.KNeighborsClassifier(1) 
clf.fit(X, Y) # train classifer with wholedata
clf.score(X, Y) #training accuracy on X

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

In [24]:
clf.score(Xtst, Ytst) #testing accuracy

1.0

In [13]:
# classifier 2
from sklearn import tree                         # import the decision tree classifier
clf = tree.DecisionTreeClassifier(max_depth=2)


clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9014084507042254

In [14]:
clf.score(Xtst, Ytst) #testing accuracy

0.9444444444444444

In [15]:
# classifier 3
from sklearn import linear_model                 # import package
clf = linear_model.LogisticRegression(C=10**10)

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

C:\Users\d2240\anaconda3\envs\tftestevn\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.971830985915493

In [16]:
clf.score(Xtst, Ytst) #testing accuracy

0.8611111111111112

In [17]:
# classifier 4
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis # import package
clf = LinearDiscriminantAnalysis()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.9859154929577465

In [18]:
clf.score(Xtst, Ytst) #testing accuracy

1.0

In [19]:
# classifier 5
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

In [20]:
clf.score(Xtst, Ytst) #testing accuracy

1.0

In [21]:
# classifier 6
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.19718309859154928

In [22]:
clf.score(Xtst, Ytst) #testing accuracy

0.2222222222222222

In [23]:
# classifier 7
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.971830985915493

In [24]:
clf.score(Xtst, Ytst) #testing accuracy

1.0

In [25]:
# classifier 8
from sklearn import svm
#clf = svm.SVC(kernel='linear',C=1**1)
clf = svm.SVC(kernel='linear',C=10**10)

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

1.0

clf.score(Xtst, Ytst) #testing accuracy

In [26]:
# classifier 9
from sklearn import svm
#clf = svm.SVC(kernel='linear',C=1**1)
clf = svm.SVC(kernel='poly',C=0.1, degree=2)

clf.fit(Xtrn, Ytrn) # train classifer with train_data
clf.score(Xtrn, Ytrn) #training accuracy on Xtrn

0.4014084507042254

In [27]:
clf.score(Xtst, Ytst) #testing accuracy

0.3055555555555556